ul{
    list-style: none;
    padding: 0;
}
li{
    background-color: lightblue;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
}
button{
    margin-top: 5px;
    padding: 10px 15px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
}